body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,input,textarea,fieldset,legend,option,th,td,
hr,button{margin:0; padding: 0;}
body{
	font:12px "微软雅黑";
}
li{
	list-style: none;
}
a{text-decoration: none; color:#666;}
img{
	border:none;
	/* display: block; */
	/*vertical-align: top;*/	
}
h1,h2,h3,h4,h5,h6,b,strong{font-weight: normal;}
i,em{font-style: normal;}
input,textarea,select,area{
	outline: none;
}

.fl{
	float:left;
}
.fr{
	float:right;
}

.border0{
	border:none;
}

.clear:after{
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clear{
	zoom:1;
}
