<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TESLA非官方网站</title>
    <link rel="stylesheet" href="../static/sass/moban.css">
    <link rel="stylesheet" href="../static/sass/index.css">
    <link rel="shortcut icon" href="../static/images/favorite.png">
</head>

<body>
    <!-- 容器 -->
    <div id="wrap">
        <!-- 头部 -->
        <div id="header">
            <a href="index.html" id="logo"> <img src="../static/images/logo.png" alt=""></a>
            <ul>
                <li><a href="index.html" id="index">首页</a></li>
                <li><a href="vehicleType.html" id="vehicleType">车型</a></li>
                <li><a href="forum.html" id="forum">论坛</a></li>
            </ul>
            <p><a href="register.html" id="reg">注册</a> <a id="login">登陆</a></p>
        </div>


        <!-- 在此处写内容 -->

        <!-- 登陆界面 -->
        <div id="k_login">
            <div class="k_loginbox">
                <h2>登陆</h2>
                <hr>
                <span class="k_wrong_info"></span>
                <input type="text" class="k_index_login_name" placeholder="用户名">
                <input type="password" class="k_index_login_pass" placeholder="密码">
                <input type="submit" class="k_index_login_submit" value="登陆">

                <a href="register.html" class="k_index_new">注册一个新用户</a>

            </div>
        </div>




        <div id="k_img1">
            <div class="k_img1contenttop">

                <!-- <img src="https://www.tesla.cn/tesla_theme/assets/img/models/v1.0/section-hero-background.jpg?20170420"
                    alt="" srcset=""> -->
                <video src="https://www.tesla.com/ns_videos/roadster-loop-metric-kilometer.mp4?20171122" loop autoplay preload="auto"></video>


            </div>
            <div class="k_img1contentmid">
                <h1>出色的安全和性能表现</h1>
                <p>Model S 自诞生之日起就是为了成为一款安全、高性能的轿车而设计。得益于特斯拉独特的纯电动动力总成，Model S 的性能表现十分出色，0-100公里/小时加速最快仅需 2.6 秒。通过 Autopilot 自动辅助驾驶，Model S 还可以使高速公路驾驶更为安全且轻松，让你更好的享受驾驶乐趣。</p>

                <div>
                    <a href="resinformation.html" class="k_yuyue">预约试驾</a>
                </div>
            </div>

            <div class="k_img1contentbtm">


            </div>

        </div>

        <div id="k_img2">
            <div class="k_contenttop k_img2intro">
                <h1>电动全轮驱动</h1>
                <img src="https://www.tesla.cn/tesla_theme/assets/img/models/v1.0/chassis-explorer/chassis-motor-dual@2x.jpg?20170420" alt="">
                <div class="k_carchange">
                    <i>长续航版</i><em>Performance 高性能版</em>
                </div>
            </div>

            <div class="k_contentbtm">
            </div>

        </div>



        <div id="k_img3">
            <div class="k_contenttop k_img3yuyue">
                <h1>邂逅 Model Tesla</h1>
                <p>Model Tesla 是一款高性能、安全、智能的全尺寸 SUV。Model X 搭载全轮驱动，最长续航里程可达 575 公里，宽敞的空间足以容纳 7 位成人及其所携带的所有物品。更有狂暴模式，百公里加速仅需 2.9 秒。可以说，Model X 是一款从不妥协的 SUV。</p>

                <div>
                    <a href="resinformation.html" class="k_yuyue">立即预约</a>
                </div>


            </div>

            <div class="k_contentbtm">

            </div>
        </div>


        <!-- 尾部 -->
        <div id="footer">
            <img src="../static/images/logo.png" alt="">
        </div>

    </div>



    <script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
    <script src="../static/scripts/index.js"></script>
    <script src="../static/scripts/moban.js"></script>
    <script>
    </script>
</body>

</html>