<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TESLA非官方网站</title>
    <link rel="stylesheet" href="../static/sass/moban.css">
</head>

<body>
    <!-- 容器 -->
    <div id="wrap">
        <!-- 头部 -->
        <div id="header">
            <a href=""> <img src="../img/logo.png" alt=""></a>
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="page/vehicleType.html">车型</a></li>
                <li><a href="page/forum.html">论坛</a></li>
            </ul>
            <p><a href="register.html">注册</a> <a id="login">登陆</a></p>
        </div>

        
        <!-- 在此处写内容 -->




        <!-- 尾部 -->
        <div id="footer">
            <img src="img/logo.png" alt="">
        </div>

    </div>



    <script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
    <script>
  

    </script>
</body>

</html>