<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="../static/sass/L-reset.css">
    <link rel="stylesheet" href="../static/sass/moban.css">
    </head>
    <link rel="stylesheet" href="../static/sass/L-add.css">
</head>
<body class="L-bod">

    <div id="wrap">
        <!-- 头部 -->
        <div id="header">
            <a href=""> <img src="../static/images/logo.png" alt=""></a>
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="page/vehicleType.html">车型</a></li>
                <li><a href="forum.html">论坛</a></li>
            </ul>
            <p><a href="register.html">注册</a> <a id="login">登陆</a></p>
        </div>

        <div id="k_login">
            <div class="k_loginbox">
                <h2>登陆</h2>
                <hr>
                <span class="k_wrong_info"></span>
                <input type="text" class="k_index_login_name" placeholder="用户名">
                <input type="password" class="k_index_login_pass" placeholder="密码">
                <input type="submit" class="k_index_login_submit" value="登陆">
        
                <a href="register.html" class="k_index_new">注册一个新用户</a>
        
            </div>
        </div>
        <!-- 在此处写内容 -->
        <!-- <img src="../static/images/L-2.jpg" alt=""> -->
        <div class="L-register" >
            <h2>欢迎注册Tesla帐号</h2>
            <div class="L-row">
                <input type="text" placeholder="用户名" class="L-ipt " name="username">
            </div>
            <div class="L-row">
                <input type="password" class="L-ipt" name="password" placeholder="密码">
                <span class="L-tip">密码为8到16个字符，可以包含数字、字母（不区分大小写）</span>
            </div>
            <div class="L-row">
                <input type="text" class="L-ipt  phone" name="phone" placeholder="手机号">
                <span class="L-tip">亲，这个号码不太对哦！</span>
            </div>
            <input type="submit" value="注册" class="L-ipt  L-push ">
        </div>
        <!-- </form> -->
    
       
    
    
    
    
        <!-- 尾部 -->
        <div id="footer">
            <img src="../static/images/logo.png" alt="">
        </div>
    
    </div>

    
      
   
    <script src="../static/scripts/jquery-1.8.3.js"></script>
    <script src="../static/scripts/moban.js"></script>
    <script src="../static/scripts/L-add.js"></script>
</body>
</html>